.Home{
    width: 96vw;
    padding: 2vw;
}
.SearchPage{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.Image{
    width: 400px;
    margin: 25px;
}
.Input{
    position: relative;
    left: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 50px 0;
    transform: translateX(-50%);
    border: 1px solid rgba(0,0,0,0.51);
    padding: 0 20px;
    border-radius: 5px;
    height: 40px;
}
.Input button{
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    transition: background-color 0.5s;
}
.Input button:hover{
    background-color: rgba(100,100,100,0.2);
    transition: background-color 0.5s;


}
.Input button:active{
    border: 1px solid rgba(100,100,100,0.8);;
}
.Input input{
    outline: none;
    border: none;
    width: 90%;
}
.Search{
    height: 20px;
}
.Posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Slider{
    justify-content: center;
    display: flex;
}
.Slider h1{
    margin: 20px 10px;
    padding: 5px 20px;
    border-radius: 5px;
}
.Active{
    color: black;
    cursor: default;
    transition: 0.5s;
}
.NotActive{
    color: rgba(100,100,100,0.47);
    cursor: pointer;
    transition: 0.5s;
}
.NotActive:hover{
    background-color: rgba(100,100,100,0.47);
    color: white;
    transition: 0.5s;
}
.Back{
    display: flex;
    position: absolute;
    align-items: center;
    top: 50px;
    left: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s;
}
.Back:hover{
    background-color: rgba(226,137,7,0.65);
    border: 1px solid black;
    transition: 0.5s;
}
.Back img{
    height: 50px;
}
.Back p{
    font-size: 16px;
    font-weight: 800;
}
.Time{
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: rgba(100,100,100,0.36);
    border-radius: 5px;
}