.Answer{
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    text-align: left;
    border-radius: 10px;
}
.Line{
    height: 1px;
    background-color: black;
    width: 80%;
    margin: 40px 10%;
}